{% set navbar = [
    ('/', 'home', '{|en:home|zh:首頁|}'),
    ('/about', 'about', '{|en:about|zh:自我介紹|}'),
    ('/projects', 'projects', '{|en:projects|zh:項目|}'),
    ('/photos', 'photos', '{|en:photos|zh:相冊|}'),
    ('/contact', 'contact', '{|en:contact|zh:聯絡|}'),
] -%}
<!doctype html>
<html lang="en">

<head>
  {%- block head -%}
 <title>{% if title %}{% block title %}{% endblock %} | {% endif %}dheera.net | Dheera Venkatraman's web site</title>
  {% block meta %}{% endblock %}
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css?version=3">
  <link rel="stylesheet" type="text/css" href="/static/css/swipebox.css">
  <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.swipebox.js"></script>
  <script type="text/javascript" src="/static/js/jquery.transit.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  {%- endblock -%}
</head>

<body>
  <div class="topbar">
    <div style="margin-left:auto;margin-right:auto;max-width:980px;padding:0px;border-lft:0px solid #808080;border-right:0px solid #808080;border-bottom:0px;">
      <ul class="navbar">
        <li class="navbar-lang">
          {% filter lang %}
            <nobr><a class="{|en:navbar-lang-active|zh:navbar-lang-inactive|}" href="?lang=en">EN</a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="{|en:navbar-lang-inactive|zh:navbar-lang-active|}" href="?lang=zh">中文</a></nobr>
          {% endfilter %}
        </li>
        {%- for href, id, caption in navbar -%}
          <li class="clickable{% if href==request.path or (href.__len__()>1 and request.path.find(href) == 0) %} navbar-active{% else %} navbar-inactive{% endif %}" onclick="window.location.href='{{ href|e }}'"><a href="{{ href|e }}">{{ caption|lang|e }}</a></li>
        {%- endfor -%}
      </ul>
      <!-- <img onclick="$('.navbar-mobile-container').slideToggle();" src="http://static.dheera.net/images/mobile-menu.png" class="navbar-mobile-button" style="width:32px;height:32px;cursor:pointer;"> -->
      <button class="navbar-mobile-button" type="button"><span></span></button>
      <div class="logo">
        <div onclick="window.location.href='/';" class="ui-cover" style="cursor:pointer;cursor:hand;width:150px;height:67px;"></div>
        <object data="//s3.amazonaws.com/static.dheera.net/images/logo.svg" type="image/svg+xml"><img alt="dheera.net" src="//s3.amazonaws.com/static.dheera.net/images/logo.png"></object>
      </div>
    </div>
    <div class="navbar-mobile-container">
      <ul class="navbar-mobile">
        {%- for href, id, caption in navbar -%}
          <li class="clickable{% if href==request.path or (href.__len__()>1 and request.path.find(href) == 0) %} navbar-active{% else %} navbar-inactive{% endif %}" onclick="window.location.href='{{ href|e }}'"><a href="{{ href|e }}">{{ caption|lang|e }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </div>

  <div class="content">{% block main %}{% endblock %}</div>
  <div class="footer">
    <div class="mobile-only mobile-lang">
      {% filter lang %}
        <nobr><a class="{|en:mobile-lang-active|zh:mobile-lang-inactive|}" href="?lang=en">EN</a>
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="{|en:mobile-lang-inactive|zh:mobile-lang-active|}" href="?lang=zh">中文</a></nobr>
      {% endfilter %}
    </div>
    <div>
      {% block footer %}
      {% filter lang %}
      <b>&copy; 2014 dheera venkatraman <span style="color:#b8b8b8;">&lt;dheera at dheera dot net&gt;</span></b><br>{|en:Photos on this website may be shared and used freely with attribution under the <a style="color:#44b0cc;" href="//creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> license.|zh:本網站所有照片可據<a style="color:#44b0cc;" href="//creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>協議條款自由分享或使用。|}
      {% endfilter %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
