{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div style="max-height:500px;overflow:hidden;">
<div style="position:relative;width:100%;height:0;padding-bottom:33%;margin-left:auto;margin-right:auto;max-width:1500px;max-height:500px;">
<iframe style="max-width:100%;max-height:500px;left:0;top:0;" width="1500" height="500" src="/static/banner.html" frameborder="no" scrolling="no"></iframe>
</div>
</div>

<div class="content_page">
  <div>

<div class="home_top">
  <div class="home_top_box home_top_box_headline">
    Join us on <span style="white-space:nowrap;"><b>May 3-4</b></span> at the <span style="white-space:nowrap;"><b>MIT Media Lab</b></span>.
  </div>
  <div class="home_top_box_register">
    <div class="clickable" onclick="window.location.href='/register';"><a style="border:0;padding:0;margin:0;" href="/register"><img src="/static/images/register.png" alt="Register Now"></a></div>
  </div>
</div>

<div><b>Half of the world</b> population and <b>three-quarters of all large cities</b> are located on the coast. <b>634 million people</b> are at risk from rising water levels. How will our world landscapes change as a result? From New York City to Shanghai, Sydney to Rio de Janeiro&mdash;coastal cities have become the nexuses for today's global economy, yet face a confounding duality in which they are also the most threatened by climate change. MIT is addressing these challenges of coastal cities at the 2014 MIT Sustainability Summit. The conference will <b>defy traditional notions of urban development</b> to ask how coastal cities can sustain themselves and <b>continue to grow</b> as the climate changes and their local environments deteriorate.<br>
<br>
Register now to <b>learn what the future</b> holds for these cities, what <b>complex problems and exciting solutions</b> exist and what they mean to you and the work you do, and <b>how you can help</b> overcome them to build sustainable coastal cities.</div>

<div class="home_bottom" style="display:table;table-layout:fixed;margin-top:30px;width:100%;height:200px;border-spacing:10px;border:none;">

  <div class="home_bottom_box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Follow us</h3>
Keep up to date on your favorite social media.
    <div style="margin-top:15px;">
      <div style="display:inline-block;margin-right:10px;" class="clickable"><a href="https://www.facebook.com/mitsustainabilitysummit" style="border:0;margin:0;padding:0;"><img src="/static/images/icon_facebook.png" style="padding:0;margin:0;"></a></div>
      <div style="display:inline-block;margin-right:10px;" class="clickable"><a href="http://twitter.com/MIT_S_Summit" style="border:0;margin:0;padding:0;"><img src="/static/images/icon_twitter.png"></a></div>
      <div style="display:inline-block;margin-right:10px;" class="clickable"><a href="http://www.linkedin.com/groups?gid=4863732&trk=hb_side_g" style="border:0;margin:0;padding:0;"><img src="/static/images/icon_linkedin.png"></a></div>
    </div>
  </div>

  <div class="home_bottom_box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Stay tuned</h3>
Sign up on our e-mail list to hear more about this year's speakers and future Summit events.
<form action="http://mailman.mit.edu/mailman/subscribe/mit_sustainability_summit" method="post">
<input type="hidden" name="language" value="en"><input type="text" name="email" placeholder="your@email.com" style="margin-top:15px;width:200px;font-size:16px;height:25px;border:1px solid #c0c0c0;padding:3px;background:#ffffff;color:#303030;">
<input class="clickable" type="submit" value="Subscribe &raquo;" style="width:100px;height:31px;font-size:12px;background:#0080cc;color:#ffffff;border:0px;padding:4px;margin-top:10px;">
<br>
<div style="font-size:14px;line-height:1.5em;margin-top:15px;">We won't distribute your e-mail address. This is a low-volume e-mail list and you can unsubscribe yourself at any time.</div>
</form>

  </div>
  <div class="home_bottom_box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Get in touch</h3>
Got a question or comment? Do you have someone in mind that you'd like to see speak at the Summit? Or is your institution interested in being a sponsor? We'd like to know more! Send us an e-mail at <b>sustainabilitysummit at mit dot edu</b>.
  </div>

</div>

</div>
</div>
{% endblock %}
