{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}

<div style="max-height:653px;overflow:hidden;">
<div style="position:relative;width:100%;height:0;padding-bottom:67%;margin-left:auto;margin-right:auto;max-width:980px;max-height:653px;">
<iframe style="max-width:100%;max-height:653px;left:0;top:0;" width="980" height="653" src="/banner" frameborder="no" scrolling="no"></iframe>
</div>
</div>

<div class="content_page">
  <div>

<div class="home_bottom" style="display:table;table-layout:fixed;margin-top:30px;width:100%;height:200px;border-spacing:10px;border:none;">

  <div class="home_bottom_box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Follow me</h3>
Follow me on your favourite social media.
    <div style="margin-top:15px;">
      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="https://www.facebook.com/dheera" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/facebook.png" style="padding:0;margin:0;"></a></div>
      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="http://weibo.com/dheera" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/weibo.png"></a></div>
      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="https://www.quora.com/Dheera-Venkatraman" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/quora.png"></a></div>
      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="https://www.zhihu.com/people/dheera" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/zhihu.png"></a></div>
      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="http://www.github.com/dheera/" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/github.png"></a></div>
      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="https://www.flickr.com/photos/dheeranet/" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/flickr.png"></a></div>
<!--      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="https://www.500px.com/dheera" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/500px.png"></a></div> -->
      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="http://renren.com/dheera" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/renren.png"></a></div>
      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="http://www.linkedin.com/in/vdheera" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/linkedin.png"></a></div>
<!--      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="http://twitter.com/dheeranet" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/twitter.png"></a></div> -->
      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="weixin://profile/dheeranet" style="border:0;margin:0;padding:0;"><img src="http://static.dheera.net/icons/weixin.png" style="padding:0;margin:0;"></a></div>
    </div>
  </div>

  <div class="home_bottom_box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">News</h3>
    blah
  </div>
  <div class="home_bottom_box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Contact me</h3>
    The easiest way to reach me is by e-mail at <b>dheera at dheera dot net</b>.<br><br>
    If you're trying to hire me, you might want to check out my <a href="http://static.dheera.net/docs/resume.pdf">resume</a>.
  </div>

</div>

</div>
</div>
{% endblock %}
