{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
{% filter lang %}
{% filter host %}

<div style="max-height:653px;overflow:hidden;margin-bottom:0;">
  <div style="position:relative;width:100%;height:0;padding-bottom:67%;margin-left:auto;margin-right:auto;max-width:980px;max-height:653px;">
    <iframe style="max-width:100%;max-height:653px;left:0;top:0;" width="980" height="653" src="/photos/banner" frameborder="no" scrolling="no"></iframe>
  </div>
</div>

{$!home?
<div class="home-bottom">

  <div class="home-bottom-box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">{|en:Follow me|zh:關注|}</h3>
{|en:Follow me on your favourite social media. I am not always active on all of them though.|zh:歡迎來關注我以下帳號，不過不經常上所有的。|}
    <div style="margin-top:15px;">
{% set sns_links = [
  ('facebook', 'https://facebook.com/dheera'),
  ('weibo', 'http://weibo.com/dheera'),
  ('twitter', 'http://twitter.com/dheeranet'),
  ('quora', 'https://www.quora.com/Dheera-Venkatraman'),
  ('github', 'http://github.com/dheera'),
  ('linkedin', 'https://www.linkedin.com/in/vdheera'),
  ('flickr', 'http://www.flickr.com/photos/dheeranet/'),
  ('500px', 'http://500px.com/dheera'),
  ('gplus', 'https://plus.google.com/+DheeraVenkatraman/'),
  ('zhihu', 'http://www.zhihu.com/people/dheera'),
] %}

{% for (id, link) in sns_links %}
      <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="{{ link }}" style="border:0;margin:0;width:40px;height:40px;padding:0;"><img alt="{{ id }}" src="http://static.dheera.net/icons/{{ id }}.gif" style="padding:0;margin:0;width:40px;height:40px;"></a></div>
{% endfor %}
    </div>
  </div>

  <div class="home-bottom-box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">{|en:News|zh:最新消息|}</h3>
    {% for news_item in news_items %}
      {|en:{{ news_item['date'][6:8] }}.{{ news_item['date'][4:6] }}.{{ news_item['date'][0:4] }}|zh:{{ news_item['date'][0:4] }}年{{ news_item['date'][4:6] }}月{{ news_item['date'][6:8] }}日|}<br>
      <a href="{{ news_item['link'] }}">{{ news_item['title'] }}</a>
      <br><br>
    {% endfor %}
  </div>
  <div class="home-bottom-box">
    <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">{|en:Contact me|zh:聯絡方式|}</h3>
    {|en:The easiest way to reach me is by e-mail at <b>dheera at dheera dot net</b>.|zh:可以發電子郵件給<b>dheera at dheera dot net</b>。|}<br><br>
    {|en:My resume is available <a href="http://static.dheera.net/docs/resume.pdf">here</a>.|zh:如有事業合作機會請參考我的<a href="http://static.dheera.net/docs/resume.pdf">個人簡歷</a>。|}<br><br>
    {|en:Angel investors please ask me about my latest <a href="http://www.virtulus.com/">project</a>.|zh:天使投資人歡迎聯絡討論我最新的<a href="http://www.virtulus.com">項目</a>。|}
  </div>

</div>
$}

{% endfilter %}
{% endfilter %}
{% endblock %}
