{% extends "base.html" %}

{% if not comments is defined %}{% set comments = False %}{% endif %}
{% if not like_buttons is defined %}{% set like_buttons = True %}{% endif %}

{% block title %}
{% if subtitle %}
  {{ subtitle|lang }} | {{ title|lang }}
{% else %}
  {{ title|lang }}
{% endif %}
{% endblock %}

{% block main %}
<div class="content_page">
  <div style="padding-bottom:35px;">
    {%- if subnavbar and not ( subnavbar.__len__()==1 and subnavbar[0][0]==request.path) -%}
    <div style="display:inline-block">
      <h1 class="content_title">{{ title|lang|e }}</h1>
    </div>
    <div class="subnavbar">
      <ul>
      {%- for href, id, caption in subnavbar -%}
        <li{% if href==request.path %} class="subnavbar_active"{% endif %}><a href="{{ href|e }}">{{ caption|lang|e }}</a></li>
      {%- endfor -%}
      </ul>
    </div>
    <div class="subnavbar-mobile">
      <ul>
      {%- for href, id, caption in subnavbar -%}
        <li{% if href==request.path %} class="subnavbar_active"{% endif %}><a href="{{ href|e }}">{{ caption|lang|e }}</a></li>
      {%- endfor -%}
      </ul>
    </div>
    {% else %}
      <h1 class="content_title">{{ title|lang|e }}</h1>
    {%- endif -%}
  </div>
  <div>
    {% block content %}
    {{ content|lang|host|safe }}
    {% endblock %}
  </div>
  {% if like_buttons == True %}
    <div class="like-buttons">
      Like this page? <b>Share it!</b>
      <a onclick="window.open(this.href,'sharer','width=720,height=480,toolbar=0,status=0')" class="clickable" href="//www.facebook.com/sharer.php?u=http://dheera.net{{ request.path }}%3Fn=1" target="_new"><img src="//s3.amazonaws.com/static.dheera.net/icons/facebook.png"></a>
      <a onclick="window.open(this.href,'sharer','width=720,height=480,toolbar=0,status=0')" class="clickable" href="http://v.t.sina.com.cn/share/share.php?title={{ title|lang|urlencode }}&amp;ralateUid=1935328294&amp;url=http://dheera.net{{ request.path }}" target="_new"><img src="//s3.amazonaws.com/static.dheera.net/icons/weibo.png"></a>
      <a onclick="window.open(this.href,'sharer','width=520,height=600,scrollbars=0,toolbar=0,status=0')" class="clickable" href="https://plus.google.com/share?url=http://dheera.net{{ request.path }}" target="_new"><img src="//s3.amazonaws.com/static.dheera.net/icons/gplus.png"></a>
      <a onclick="window.open(this.href,'sharer','width=720,height=320,toolbar=0,status=0')" class="clickable" href="http://twitter.com/share?text={{ title|lang|urlencode }}+by+@dheeranet&amp;url=http://dheera.net{{ request.path }}" target="_new"><img src="//s3.amazonaws.com/static.dheera.net/icons/twitter.png"></a>
    </div>
  {% endif %}

  {% if comments == True %}
    {% filter host %}{% filter lang %}
{$!cn?
<br>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/{|en:en_US|zh:zh_TW|}/sdk.js#xfbml=1&appId=731406776917435&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div data-width="100%" class="fb-comments" data-href="http://dheera.net{{ request.path }}" data-numposts="5" data-colorscheme="light"></div>
$}
    {% endfilter %}{% endfilter %}
  {% endif %}

</div>
{% endblock %}
